/*DEFAULT STYLES*/
.container {
    width: 50%;
    margin: 4vh auto;
    height: 90vh;
    padding: 1vh 50px;
    border-radius: 20px;
    border: black 1pt solid;
}

/*SEARCH*/
.titles {
    text-align: center;
}

.search_info {
    width: 98%;
    margin: 30px 0px 1px 2%;
}

#search select {
    width: 98%;
    height: 40px;
    margin: 1%;
    border-radius: 5px;
}

input[type="submit"] {
    border: none;
    background-color: orange;
    width: 98%;
    height: 40px;
    margin: 1%;
    border-radius: 5px;
}

img {
    max-width: 100%;
    max-height: 65vh;
}